<%= simple_form_for(@favorite_song) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :song %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
